body{
    background-color:#3a002d;
    position: relative;
    min-height: 100vh;
  }
 header{
  background-color:#c08db5;
  padding: 10px;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
 }
 footer{
  width: 100%;
  padding: 10px 0;
  position:absolute;
  text-align: center;
  background-color: #c08db5;
  height: 5vh;
  bottom: 0%;
  left: 0%;
  right:0%;

 }
 .nav ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
 }
 .nav a{
  text-decoration: none;
  position: relative;
  color: #fdcbf2;
  font-family: "Zen Antique Soft", serif;
  font-size: 25px;
  font-weight: bold;
 }
 .imgcv{
  width: 275px;
  height: 275px;
  border-radius: 10%;
  margin-left: 200px;
  margin-right: 150px;
  margin-top: 20px;
  border: 10px solid #c08db5;

 }
 .contenedorindex{
  width: 500px;
 height: auto;
 margin-right: 100px;
 padding: 10px;
 border-radius: 10px;
 background-color: #fdcbf2;
 }
 .contenedorindex h1{
  color: black;
 }
 .contenedorindex p{
  color: black;
 }
 .cuadroindex{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 margin: 0;
 text-align: center; 
 padding: 20px;
 }
 .titulodatos{
  align-items: center;
  justify-items: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
 }
 .contenedorinfo{
  width: 500px;
 height: 200px;
 border-radius:20px;
 background-color: #fdcbf2;
 padding: 20px;
 }
 .contenedorinfo p{
  color: black;
 }
 .contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 }
 .contenedorgene{
 background-color: #fdcbf2;
 color: black;
 font-family:"Zen Antique Soft", serif;
 }
 .contenedorgene{
  width: auto;
  text-align: center;
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 1px;
  border-radius: 20px;
  display: inline-block
 }
 .contenedorconocimientos{
 display: flex;
 justify-content: space-between;
 }
 .contenedorgene p{
  font-size: 20px;
 }
 .contenedorestudios{
  width: 500px;
  height: auto;
  border-radius:20px;
  background-color: #fdcbf2;
  color: black;
  font-family: "Zen Antique Soft", serif;
  text-align: center;
 }
 .contenedorestudios h1{
  font-size: 20px;
 }
 @media (max-width: 873px) {
  html {
      font-size: 40%;
  }
  .cuadroindex .imgcv {
      display: none;
  }   
 }
 @media (max-width: 873px) {
  .home .home-content {
      max-width: 50rem;
  }
 }
 @media (max-width: 800px) {
  .nav {
      position:static;
      top: 0%;
      left: 0;
      width: 100%;
      padding: 1rem 3%;
  }
  .nav a {
      font-size: 2rem;
  }
  .cuadroindex {
      margin-top: 150px;
      padding: 0 3% 23rem;
      justify-content: center;
      text-align: center;
  }

  .contenedorindex h1 {
      font-size: 5rem;
  }

  .contenedorindex p {
      font-size: 2rem;
  }

  .contenedorinfo {
      flex-direction: column-reverse;
      margin-top: 100px;
      text-align: center;
  }
  
  .titulodatos {
      font-size: 5rem;
  }

  .contenedorinfo p {
      font-size: 2.1rem;
  }

 .contenedorestudios {
  font-size: 20px;
 }

  .contenedorconocimientos {
      font-size: 13px;
  }

  .titulodatos h1 {
      font-size: 40px;
  }
